Django>=4.2,<5.0
djangorestframework
psycopg2-binary
gunicorn
python-dotenv
drf-spectacular
django-cors-headers
dj-database-url
PyJWT>=2.8.0
requests
celery
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-django
opentelemetry-instrumentation-psycopg2
opentelemetry-instrumentation-requests
opentelemetry-exporter-otlp
pytest-django
