Django==4.2
djangorestframework
psycopg2-binary
PyJWT
kombu
python-dotenv
gunicorn
dj-database-url
Pillow
drf-spectacular
pika
celery>=5.2
redis>=4.0
channels>=4.0
daphne>=4.0
channels_redis>=4.1.0
django-cors-headersopentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-django
opentelemetry-instrumentation-psycopg2
opentelemetry-instrumentation-requests
opentelemetry-exporter-otlp
pytest
pytest-django
